name: Deploy with Docker Compose

on:
  push:
    branches: [ "main", "development"]
  pull_request:
    branches: [ "main", "development"]
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clean up temporary files
        run: docker compose down --remove-orphans || true

  deploy:
    runs-on: self-hosted
    needs: build
    steps:      
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Deploy and restart containers
        run: docker compose up -d --build --force-recreate

